.hashtag-text {
  min-height: 4.5em;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}
.rating-tag {
  background-color: #eacc5e;
  color: white !important;
  font-size: 0.9em;
  padding-left: 7%;
  padding-top: 3.5%;
  padding-bottom: 3%;
  padding-right: 7%;
}

.price-tag {
  padding-top: 6px;
  font-size: 0.93em;
}

.main-card {
  width: 100%;
  min-height: 100%;
}

.card-container {
  width: 95% !important;
  margin: auto !important;
}

@media (max-width: 1280px) {
  .main-card {
    width: 90%;
  }
}

@media (max-width: 960px) {
  .main-card {
    width: 100%;
  }
  .card-container {
    width: 86% !important;
  }
}

@media (max-width: 780px) {
  .main-card {
    width: 100%;
  }

  .card-container {
    justify-content: center;
    width: 95% !important;
    margin: inherit !important;
  }
}

@media (max-width: 650px) {
  .main-card {
    width: 107%;
  }

  .card-container {
    justify-content: center;
    width: 100% !important;
  }

  .card-grid-container {
    padding-right: 6% !important;
    padding-left: 0% !important;
  }
}

@media (max-width: 599px) {
  .main-card {
    width: 18.5em;
  }
  .card-container {
    width: 100% !important;
  }
}
